<h1> Blog Page </h1>

<% @pages.each do |page| %>
    <p> <%= link_to  page.title, page_path(page) %> </p>
<% end %>

<%= link_to 'New Page', new_page_path %>
 
<%= 4.times do |index| %>
    <p><%= index %> |fish </p>
<% end %>
